@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Raleway:wght@500&display=swap');

/* colors: dodgerblue 30 144 255, 
springgreen 0 255 127, 
lightsalmon 255 160 122, 
plum 221 160 221, 
snow 255 250 250 */
main, .banner img {
  max-width: 1200px;
margin: 0 auto;
  background-color: snow;
}

header {
  display: flex;
  padding: 5px;
  background-color: rgba(221,160,221,.3); /* plum */
  max-width: 90vw;
}
footer {
    background-color: rgba(221,160,221,.3); /* plum */
}
.calltoaction {
  padding: 11px;
  text-align: right;
}
.calltoaction button {
  margin-left: 11px;
}
.logonav {
  display: flex;

}
.copyright, .contact, .social {
  text-align: center;/* display: flex; */
/* justify: flex-center; */
}
.social img {
  width: 40px;
  
}
.companyads img {
  background-color: gray;
  padding: 5px;
}
.companyads img {
  width: 300px;
}
#iep {
  width: 450px;
}
.contact img {
  margin-top: 22px;
}
body {
  background-color: rgba(255,160,122, .3); /*  lightsalmon; */
  font-size: 12px;
  font-family: 'Goblin One', cursive;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
nav {
  position: relative;
    left: 30%;
  max-width: 100%;
  display: inline;
/*   border: solid 2px green; */
/*   background-color: snow; */
}
nav ul {
  display: flex;
align-content: space-between;
}
li {
  list-style: none;
}
nav a {
  font-size: 1.5em;
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 11px;
}
nav a:hover {
  border-bottom: 9px solid rgba(30,144,255,.5);
}
.active a {
  border-bottom: 9px solid dodgerblue;
}
.logo {
  position: relative;
  left: 100px;
  padding: 11px;
  /* border: 5px solid dodgerblue; */
}
.alerts {
  background-color: springgreen;
  padding: 5px;
  display: block;
}
.allweather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
/* ============ DIRECTORY GRID / LIST ================= */

.cards {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  margin: 20px;
  /* max-width: 100%; */
}

@media only screen and (min-width: 42rem) {
  .cards {
      grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 80rem) {
  .cards {
          grid-template-columns: 1fr 1fr 1fr 1fr;
      }
}