@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Raleway:wght@500&display=swap');

/* colors: dodgerblue 30 144 255, 
springgreen 0 255 127, 
lightsalmon 255 160 122, 
plum 221 160 221, 
snow 255 250 250 */
main {
  max-width: 1200px;
margin: 0 auto;
  background-color: snow;
}
.banner img {
  max-width: 100%;
  margin: auto;
}
.banner {
  display: grid;
}
header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 11px;
  background-color: rgba(221,160,221,.3); /* plum */
  max-width: 100vw;
}
footer {
    background-color: rgba(221,160,221,.3); /* plum */
}
.calltoaction {
  padding: 11px;
  text-align: right;
}
.calltoaction button {
  margin-left: 21px;
  border: 3px solid rgba(30,144,255,.5);
  padding: 9px;
}
.calltoaction button:hover {
  border: 3px solid dodgerblue;
}

.copyright, .contact, .social {
  text-align: center;
  padding: 11px;
}
.social img {
  width: 40px;
  margin: 0 33px;
}
.companyads h2 {
  padding-left: 22px;
}
.companyads img {
  background-color: gray;
  padding: 5px;
  width: 300px;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.gallery img {
  max-width: 100%;
}
#iep {
  width: 450px;
}
.contact img {
  margin-top: 22px;
}
body {
  background-color: rgba(255,160,122, .3); /*  lightsalmon; */
  font-size: 12px;
  font-family: 'Goblin One', cursive;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
article {
  padding: 22px;
}
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
list-style: none;
}
nav a {
  font-size: 1.5em;
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 11px;
}
nav a:hover {
  border-bottom: 9px solid rgba(30,144,255,.5);
}
.active a {
  border-bottom: 9px solid dodgerblue;
}

.alerts {
  background-color: springgreen;
  padding: 5px;
  display: block;
}
.allweather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
/* ============ DIRECTORY GRID / LIST ================= */

.cards {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  margin: 20px;
  /* max-width: 100%; */
}
