@media only screen and (min-width: 80rem) {

    main {
        max-width: 100%;
    }
    .summary {
        font-size: 1.8em;
    }
    .fiveDayPics div {
        width: 200px;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .liftpic:hover {
        box-shadow: 0 0 50px #333;
    }
    form label.sbs {
        padding: .4rem 0;
    }
    .thanks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: lightgray;
        
    }
    }