@media only screen and (min-width: 680px) { /* 42 previous option, try 630px, 64rem large option */
    /* 64em is also 1028px when basefont is 16px */
    
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3232+0,aa0000+100 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    .message {
        font-size: 1.75em;
        line-height: 1em;
      }
    
    nav {
            background: linear-gradient(to bottom,  silver 0%,saddlebrown 25%, saddlebrown 75%, wheat 100%); 
            }
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 2rem;
            }
            .m {
                font-size: 1.5em;
            }
            h3 {
                font-size: 1.5rem;
                
            }
            /* .fiveDayPics {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 1fr;
            } */
            #forecastmarginleft {
                text-align: center;
                background-color:wheat;
                border-radius: 5px;
                padding: 11px;
            }
            .fiveDayPics {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
            .fiveDay {
                display: block;            
            }
            .fiveDayPics div {
                text-align: center;
                font-size: 1.5em;
                background-color: wheat;
                width: 135px;
                border-radius: 15px;
                border: solid moccasin 4px;
                margin-top: -20px;
                margin-bottom: 10px;
            }
            .summary {
                font-size: 1.5em;
                line-height: normal;
            }
            section img {
                width: 800px;
                height: auto;
            }
            section {
                overflow: auto;
            }
            .contact {
                display: flex;
                flex-direction: column;
                margin-right: 33px;
                padding: 15px;
            }
            .contactMap {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 25px;
            }
            .map {
                display: block;
                /* flex-direction: row;
                align-content: center; */
            }
            .social {
                display: flex;
                flex-direction: row;
                justify-content: center;
                /* float: clear; */
            }
            div.social img {
                margin: 0 5px 0 5px;
              }
            header, footer, nav {
                border-radius: 10px;
            }
            /* header img {
                width: 100%;
                height: auto;
            } */
            .navigation {
                display: flex;
            }
            .navigation li {
                display: block; /* change state in small view */
                flex: 1 1 auto;
            }
            .navigation a {
                display: block;
                text-align: center;
            }
    
            .navigation li:first-child {
                display: none;
            }
        
            article img {
                float: right;
                /* width: 65%;   */
                width: 500px;    
                padding: 10px;   
            }
            article {
                display: block;
                overflow: auto;
            }
            .clearfix {
                clear: right;
                overflow: auto;
                
            }
    }