* {
    /* margin: 0 auto; */
    box-sizing: border-box;
}
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {
    font-size: 16px;
    color: saddlebrown;
    height: 100%;
    font-family: 'Kufam',Cursive;
    padding: 0;  
}
/******** all other fonts besides body *******/
h1, h2, .navigation {
    font-family: 'Kufam', Cursive;
    font-weight: 900;
}
.message {
    display: none;
    position: sticky;
    top: 0;
    font-size: 1em;
    color: green;
    background-color: yellow;
    padding: .2em;
  }
h1, h2 {
    font-size: 1.5rem;
    margin: 0.15rem;
    font-family: 'Kufam', Cursive;
}
h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
header, footer { 
    background-color: wheat;
    color: saddlebrown;
    text-align: center;
}
footer {
    margin: 0 auto;
    padding: .59rem;
    /* text-align: left; */
    /* max-width: auto; */
}
.outside { /* keeps weather summary overlaying the hero banner */
    position: relative;
}
.summary {
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid moccasin;
    background-color: rgb(255, 215, 0, 0.5);
    color: black;
    font-size: 1.2em;
    line-height: .8em;
    padding: 5px;
}
section img {
    width: 500px;
    height: auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    max-width: 100%;
}
header img {
    width: 80px;
    height: auto;
    margin-right: 2em;
    border: 3px solid moccasin;
}
header section {
    margin-left: 12px;
    /* margin: 10px; */
}
.headings {
    display: flex;
    flex-direction: column;
}
headings h1 {
    font-size: 3rem;
}
.m {
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    font-size: .9rem;
}
main {
    margin: 0 auto;
    max-width: 767px;
    padding: 10px 0 10px 0;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;
    font-size: .9rem;
}
#wayfindertitle {
    margin-left: 20px;
}
nav {
    background-color: saddlebrown;
}
.fiveDay {
    display: none;
}
.hero {
    max-width: 100%;
}
.navigation {
    margin: 0 auto;
	list-style: none;
    padding: 0;
    text-align: center;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
	display: none;
}
.navigation a {
    display: flex;
    justify-content: center;    
    padding: 0.5rem;
    font-size: 1.25rem;
	text-align: left;
	text-decoration: none;
    color: wheat;
}
nav a:hover {
	color: gold;
    background-color: wheat;
    text-shadow: 1px 1px 5px black;
}
.active a {
    /* background-color: #198eb3;  */
    text-shadow: 1px 1px 5px black;
    color: gold;
} 
/* nav ul li a:hover {background-color: rgba(0,0,0,0.4);}  */
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to 
display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.map {
    display: none;
    max-width: 300px;
}
#articletitle {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: .5em;
}
article {
    border: solid moccasin 3px;    
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.contactMap {
    background-color: whitesmoke;
    display: flex;
    align-content: space-around;
    justify-content: center;
    margin-bottom: 15px;
}

#envelope:before {
    content: ' \2709';
}
.social {
    grid-column: -1;
    margin-bottom: 10px;
  }
  div.social img {
    width: 40px;
    height: auto;
    /* border: 1px solid #ccc; */
  }
  i {
      /* border: 1px dashed yellow; */
      font-size: 16px;
      /* padding: 25px; */
      margin-right: 10px;
  }